body {
	margin: 0;
}

canvas {
	width:100vw;
	height:100vh;
}

#display {
	position: absolute;
	cursor: move;
	border: 1px solid black;
	background-color: black;
	color: white;
	overflow: scroll;
	width: 400px;
	height: 400px;
	left: 10px;
	top: 10px;
}